* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
/* Body */
body {
  background-image: url('/pics/photo1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FFFFFF;
  height:130vh;
}
/* Background video container */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Place behind content */
  overflow: hidden;
  background-size: contain;
  filter: brightness(100%)
}
.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(100%) blur(1px);
  /* Adds a calming effect */
}
/* Navbar styles */
header {
  background-color: rgba(0, 0, 0, 0.6);
  /* Semi-transparent for a soft overlay */
  padding: 15px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.logo img {
  height: 50px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links li {
  font-size: 18px;
}
.nav-links a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 15px;
  transition: all 0.3s;
  border-radius: 5px;
}
.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* Search bar */
.search-bar {
  display: flex;
  align-items: center;
}
.search-bar input {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.search-bar button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #51762A;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.search-bar button:hover {
  background-color: #55802A;
}
.basic-meditation{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  gap:20px ;
  height: 50vh;
}
.basic-boxes{
  margin-top: 200px ;
  border:2px solid black;
  height:50px;
  width:60vh
}