* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background-color: #333;
  padding: 10px 20px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}


.logo img {
  height: 50px;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li {

  font-size: 18px;
  box-shadow: 0 0 20px rgb(249, 141, 141);
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 5px;
}


.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.search-bar button {
  padding: 6px 10px;
  font-size: 16px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #777;
}